Olmo + Llama
    !pip install accelerate
    !pip install bitsandbytes
    !pip install ai2-olmo

    先確認是否能用cuda，不能先跑這兩個
    !pip uninstall -y torch torchvision torchaudio
    !pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

Gemini
    !pip install google-generativeai